!!!
%html{"xmlns:og" => "http://ogp.me/ns#"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{href: "http://www.wave-dev.fr", rel: "canonical"}/
    %meta{content: "511649929264717", property: "fb:app_id"}/
    %meta{content: "Romain Grossard", property: "og:title"}/
    %meta{content: "website", property: "og:type"}/
    %meta{content: "Développeur Web Fullstack Ruby on Rails - Bordeaux", property: "og:description"}/
    %meta{content: "https://www.wave-dev.fr", property: "og:url"}/
    %meta{content: "https://www.wave-dev.fr/images/img-link.jpg", property: "og:image"}/
    %meta{content: "https://www.wave-dev.fr/images/img-link-2753fe75.jpg", property: "og:image:secure_url"}/
    %meta{content: "image/jpg", property: "og:image:type"}/
    %meta{content: "1200", property: "og:image:width"}/
    %meta{content: "628", property: "og:image:height"}/
    %meta{content: "2Tonu6C4pvhPY1Q_Cen2s2BAfsa_m2Jcn6_WAol2XtA", name: "google-site-verification"}/
    %meta{charset: "utf-8"}/
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %link{href: "https://fonts.googleapis.com/css?family=Raleway:200,400,600", rel: "stylesheet"}/
    %link{href: "favicon.ico", rel: "shortcut icon", type: "image/x-icon"}/
    / Use the title from a page's frontmatter if it has one
    %title= current_page.data.title || "Romain Grossard - Freelance Web Developer - Bordeaux"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application", async: true
    = favicon_tag 'images/favicon.ico'
    / Chrome, Firefox OS and Opera
    %meta{content: "#001B3A", name: "theme-color"}/
    / Windows Phone
    %meta{content: "#001B3A", name: "msapplication-navbutton-color"}/
    / iOS Safari
    %meta{content: "#001B3A", name: "apple-mobile-web-app-status-bar-style"}/
  %body
    = yield
