<!doctype html>
<html xmlns:og="http://ogp.me/ns#">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="2Tonu6C4pvhPY1Q_Cen2s2BAfsa_m2Jcn6_WAol2XtA" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,600" rel="stylesheet">

    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "W<a>ve - Freelance Web Developer - Bordeaux" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= favicon_tag 'images/favicon.ico' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
